<?xml version="1.0" encoding="utf-8"?>
<rootObject>
  <name>Root</name>
  <active>True</active>
  <components>
    <component>
      <type>Transform</type>
      <active>True</active>
      <position>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </position>
      <rotation>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </rotation>
      <scale>
        <x>1</x>
        <y>1</y>
        <z>1</z>
      </scale>
    </component>
  </components>
  <childObjects>
    <object>
      <name>Title</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>33,333336</x>
            <y>66,66667</y>
            <z>0</z>
          </position>
          <rotation>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>1,1111112</x>
            <y>1,1111112</y>
            <z>1,1111112</z>
          </scale>
        </component>
        <component>
          <type>TextRenderer</type>
          <active>True</active>
          <useLocal>True</useLocal>
          <contents>Furninotura</contents>
          <font>Fonts/titleFont</font>
          <color>
            <r>255</r>
            <g>255</g>
            <b>255</b>
            <a>255</a>
          </color>
          <screenSizeX>1600</screenSizeX>
          <screenSizeY>900</screenSizeY>
          <selectedVariables></selectedVariables>
        </component>
      </components>
      <childObjects></childObjects>
    </object>
    <object>
      <name>Buttons</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </position>
          <rotation>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>1</x>
            <y>1</y>
            <z>1</z>
          </scale>
        </component>
      </components>
      <childObjects>
        <object>
          <name>Play_Button</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>0</x>
                <y>444,44446</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1,3333335</x>
                <y>0,33333337</y>
                <z>1,1111112</z>
              </scale>
            </component>
            <component>
              <type>SpiteRenderer</type>
              <active>True</active>
              <useLocal>True</useLocal>
              <sprite>blank</sprite>
              <color>
                <r>0</r>
                <g>0</g>
                <b>0</b>
                <a>0</a>
              </color>
              <screenSizeX>1600</screenSizeX>
              <screenSizeY>900</screenSizeY>
            </component>
            <component>
              <type>Button</type>
              <active>True</active>
              <portrait>False</portrait>
              <action>SCENE2</action>
            </component>
          </components>
          <childObjects>
            <object>
              <name>Text</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>33,333336</x>
                    <y>457,7778</y>
                    <z>0</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1,1111112</x>
                    <y>1,1111112</y>
                    <z>1,1111112</z>
                  </scale>
                </component>
                <component>
                  <type>TextRenderer</type>
                  <active>True</active>
                  <useLocal>True</useLocal>
                  <contents>Play</contents>
                  <font>Fonts/lightFont</font>
                  <color>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                    <a>255</a>
                  </color>
                  <screenSizeX>1600</screenSizeX>
                  <screenSizeY>900</screenSizeY>
                  <selectedVariables></selectedVariables>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
          </childObjects>
        </object>
        <object>
          <name>Reset_Button</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>0</x>
                <y>555,5556</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1,3333335</x>
                <y>0,33333337</y>
                <z>1,1111112</z>
              </scale>
            </component>
            <component>
              <type>SpiteRenderer</type>
              <active>True</active>
              <useLocal>True</useLocal>
              <sprite>blank</sprite>
              <color>
                <r>0</r>
                <g>0</g>
                <b>0</b>
                <a>0</a>
              </color>
              <screenSizeX>1600</screenSizeX>
              <screenSizeY>900</screenSizeY>
            </component>
            <component>
              <type>Button</type>
              <active>True</active>
              <portrait>False</portrait>
              <action>RESET</action>
            </component>
          </components>
          <childObjects>
            <object>
              <name>Text</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>33,333336</x>
                    <y>568,8889</y>
                    <z>0</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1,1111112</x>
                    <y>1,1111112</y>
                    <z>1,1111112</z>
                  </scale>
                </component>
                <component>
                  <type>TextRenderer</type>
                  <active>True</active>
                  <useLocal>True</useLocal>
                  <contents>Reset</contents>
                  <font>Fonts/lightFont</font>
                  <color>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                    <a>255</a>
                  </color>
                  <screenSizeX>1600</screenSizeX>
                  <screenSizeY>900</screenSizeY>
                  <selectedVariables></selectedVariables>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
          </childObjects>
        </object>
        <object>
          <name>Exit_Button</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>0</x>
                <y>666,6667</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1,3333335</x>
                <y>0,33333337</y>
                <z>1,1111112</z>
              </scale>
            </component>
            <component>
              <type>SpiteRenderer</type>
              <active>True</active>
              <useLocal>True</useLocal>
              <sprite>blank</sprite>
              <color>
                <r>0</r>
                <g>0</g>
                <b>0</b>
                <a>0</a>
              </color>
              <screenSizeX>1600</screenSizeX>
              <screenSizeY>900</screenSizeY>
            </component>
            <component>
              <type>Button</type>
              <active>True</active>
              <portrait>False</portrait>
              <action>EXIT</action>
            </component>
          </components>
          <childObjects>
            <object>
              <name>Text</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>33,333336</x>
                    <y>680,00006</y>
                    <z>0</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1,1111112</x>
                    <y>1,1111112</y>
                    <z>1,1111112</z>
                  </scale>
                </component>
                <component>
                  <type>TextRenderer</type>
                  <active>True</active>
                  <useLocal>True</useLocal>
                  <contents>Exit</contents>
                  <font>Fonts/lightFont</font>
                  <color>
                    <r>255</r>
                    <g>255</g>
                    <b>255</b>
                    <a>255</a>
                  </color>
                  <screenSizeX>1600</screenSizeX>
                  <screenSizeY>900</screenSizeY>
                  <selectedVariables></selectedVariables>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
          </childObjects>
        </object>
      </childObjects>
    </object>
    <object>
      <name>Camera</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>71,389015</x>
            <y>50</y>
            <z>69,84142</z>
          </position>
          <rotation>
            <x>-60</x>
            <y>30</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>1</x>
            <y>1</y>
            <z>1</z>
          </scale>
        </component>
        <component>
          <type>Camera</type>
          <active>True</active>
          <fovDegrees>45</fovDegrees>
          <zoomMin>25</zoomMin>
          <zoomMax>75</zoomMax>
          <lerpSpeed>3,5</lerpSpeed>
          <zoomSpeed>8</zoomSpeed>
          <cameraSpeed>20</cameraSpeed>
          <keyboardControl>False</keyboardControl>
          <mouseControl>False</mouseControl>
          <scrollControl>False</scrollControl>
          <aboveGroundOffset>20</aboveGroundOffset>
          <heightLerpSpeed>6</heightLerpSpeed>
        </component>
      </components>
      <childObjects></childObjects>
    </object>
    <object>
      <name>Ground</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </position>
          <rotation>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>1</x>
            <y>1</y>
            <z>1</z>
          </scale>
        </component>
        <component>
          <type>MeshRenderer</type>
          <active>True</active>
          <applyFog>True</applyFog>
          <model>
            <path>trawa</path>
            <technique>PBR</technique>
          </model>
        </component>
      </components>
      <childObjects>
        <object>
          <name>Trees</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1</x>
                <y>1</y>
                <z>1</z>
              </scale>
            </component>
          </components>
          <childObjects>
            <object>
              <name>Tree1</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>23,2</x>
                    <y>9</y>
                    <z>16,8</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>-69</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree2</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>26,1</x>
                    <y>7</y>
                    <z>0,4</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree3</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>38,2</x>
                    <y>9</y>
                    <z>-4,4</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>-144</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree4</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>51,3</x>
                    <y>9</y>
                    <z>-2,5</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>46</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree5</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>62,4</x>
                    <y>7</y>
                    <z>11</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>-143</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree6</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>74,3</x>
                    <y>9</y>
                    <z>38,4</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>-46</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree7</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>61,2</x>
                    <y>6</y>
                    <z>63,1</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>-164</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree8</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>66,3</x>
                    <y>3,3</y>
                    <z>51,8</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>-137</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>0,5</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree9</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>16,4</x>
                    <y>7</y>
                    <z>0</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree10</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>40,7</x>
                    <y>9</y>
                    <z>-18,7</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree11</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>55,7</x>
                    <y>9</y>
                    <z>-17,1</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree12</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>9,3</x>
                    <y>8,2</y>
                    <z>16,3</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
            <object>
              <name>Tree13</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>0,4</x>
                    <y>6</y>
                    <z>23,1</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>-55</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>1</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>MeshRenderer</type>
                  <active>True</active>
                  <applyFog>True</applyFog>
                  <model>
                    <path>Env/Trees/drzewoiglaste</path>
                    <technique>PBR</technique>
                  </model>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
          </childObjects>
        </object>
        <object>
          <name>House</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>-17,6</x>
                <y>0</y>
                <z>-61,8</z>
              </position>
              <rotation>
                <x>0</x>
                <y>-40</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1</x>
                <y>1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>MeshRenderer</type>
              <active>True</active>
              <applyFog>True</applyFog>
              <model>
                <path>domludzi</path>
                <technique>PBR</technique>
              </model>
            </component>
          </components>
          <childObjects></childObjects>
        </object>
        <object>
          <name>Campfire</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>28,8</x>
                <y>0,5</y>
                <z>39,8</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1</x>
                <y>1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>MeshRenderer</type>
              <active>True</active>
              <applyFog>True</applyFog>
              <model>
                <path>ognisko</path>
                <technique>PBR</technique>
              </model>
            </component>
          </components>
          <childObjects></childObjects>
        </object>
        <object>
          <name>Barrel</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>-9,7</x>
                <y>-6,9</y>
                <z>-30</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1</x>
                <y>1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>MeshRenderer</type>
              <active>True</active>
              <applyFog>True</applyFog>
              <model>
                <path>Env/barrel</path>
                <technique>PBR</technique>
              </model>
            </component>
          </components>
          <childObjects></childObjects>
        </object>
        <object>
          <name>Barrel</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>-12,5</x>
                <y>-6,9</y>
                <z>-32,9</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1</x>
                <y>1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>MeshRenderer</type>
              <active>True</active>
              <applyFog>True</applyFog>
              <model>
                <path>Env/barrel</path>
                <technique>PBR</technique>
              </model>
            </component>
          </components>
          <childObjects></childObjects>
        </object>
      </childObjects>
    </object>
  </childObjects>
</rootObject>