<?xml version="1.0" encoding="utf-8"?>
<rootObject>
  <name>Root</name>
  <active>True</active>
  <components>
    <component>
      <type>Transform</type>
      <active>True</active>
      <position>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </position>
      <rotation>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </rotation>
      <scale>
        <x>7,25</x>
        <y>4,05</y>
        <z>1</z>
      </scale>
    </component>
  </components>
  <childObjects>
    <object>
      <name>Title</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>30</x>
            <y>30</y>
            <z>0</z>
          </position>
          <rotation>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>3</x>
            <y>3</y>
            <z>1</z>
          </scale>
        </component>
        <component>
          <type>TextRenderer</type>
          <active>True</active>
          <useLocal>True</useLocal>
          <contents>Furninotura</contents>
          <font>defaultFont</font>
          <color>
            <r>255</r>
            <g>255</g>
            <b>255</b>
            <a>255</a>
          </color>
          <screenSizeX>1440</screenSizeX>
          <screenSizeY>900</screenSizeY>
        </component>
      </components>
      <childObjects></childObjects>
    </object>
    <object>
      <name>Buttons</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </position>
          <rotation>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>1</x>
            <y>1</y>
            <z>1</z>
          </scale>
        </component>
      </components>
      <childObjects>
        <object>
          <name>Play_Button</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>2</x>
                <y>90</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>0,2</x>
                <y>0,1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>SpiteRenderer</type>
              <active>True</active>
              <useLocal>False</useLocal>
              <sprite>blank</sprite>
              <color>
                <r>255</r>
                <g>255</g>
                <b>255</b>
                <a>255</a>
              </color>
              <screenSizeX>1440</screenSizeX>
              <screenSizeY>900</screenSizeY>
            </component>
            <component>
              <type>Button</type>
              <active>True</active>
              <action>SCENE1</action>
              <linkedObject>Root</linkedObject>
            </component>
          </components>
          <childObjects>
            <object>
              <name>Text</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>95</x>
                    <y>20</y>
                    <z>0</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>4</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>TextRenderer</type>
                  <active>True</active>
                  <useLocal>False</useLocal>
                  <contents>Play</contents>
                  <font>defaultFont</font>
                  <color>
                    <r>0</r>
                    <g>0</g>
                    <b>0</b>
                    <a>255</a>
                  </color>
                  <screenSizeX>1440</screenSizeX>
                  <screenSizeY>900</screenSizeY>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
          </childObjects>
        </object>
        <object>
          <name>Settings_Button</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>2</x>
                <y>125</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>0,2</x>
                <y>0,1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>SpiteRenderer</type>
              <active>True</active>
              <useLocal>False</useLocal>
              <sprite>blank</sprite>
              <color>
                <r>255</r>
                <g>255</g>
                <b>255</b>
                <a>255</a>
              </color>
              <screenSizeX>1440</screenSizeX>
              <screenSizeY>900</screenSizeY>
            </component>
          </components>
          <childObjects>
            <object>
              <name>Text</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>60</x>
                    <y>20</y>
                    <z>0</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>4</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>TextRenderer</type>
                  <active>True</active>
                  <useLocal>False</useLocal>
                  <contents>Settings</contents>
                  <font>defaultFont</font>
                  <color>
                    <r>0</r>
                    <g>0</g>
                    <b>0</b>
                    <a>255</a>
                  </color>
                  <screenSizeX>1440</screenSizeX>
                  <screenSizeY>900</screenSizeY>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
          </childObjects>
        </object>
        <object>
          <name>Exit_Button</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>2</x>
                <y>160</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>0,2</x>
                <y>0,1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>SpiteRenderer</type>
              <active>True</active>
              <useLocal>False</useLocal>
              <sprite>blank</sprite>
              <color>
                <r>255</r>
                <g>255</g>
                <b>255</b>
                <a>255</a>
              </color>
              <screenSizeX>1440</screenSizeX>
              <screenSizeY>900</screenSizeY>
            </component>
            <component>
              <type>Button</type>
              <active>True</active>
              <action>EXIT</action>
              <linkedObject>Root</linkedObject>
            </component>
          </components>
          <childObjects>
            <object>
              <name>Text</name>
              <active>True</active>
              <components>
                <component>
                  <type>Transform</type>
                  <active>True</active>
                  <position>
                    <x>90</x>
                    <y>20</y>
                    <z>0</z>
                  </position>
                  <rotation>
                    <x>0</x>
                    <y>0</y>
                    <z>0</z>
                  </rotation>
                  <scale>
                    <x>1</x>
                    <y>4</y>
                    <z>1</z>
                  </scale>
                </component>
                <component>
                  <type>TextRenderer</type>
                  <active>True</active>
                  <useLocal>False</useLocal>
                  <contents>Exit</contents>
                  <font>defaultFont</font>
                  <color>
                    <r>0</r>
                    <g>0</g>
                    <b>0</b>
                    <a>255</a>
                  </color>
                  <screenSizeX>1440</screenSizeX>
                  <screenSizeY>900</screenSizeY>
                </component>
              </components>
              <childObjects></childObjects>
            </object>
          </childObjects>
        </object>
      </childObjects>
    </object>
    <object>
      <name>DUDE</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>-46,9</x>
            <y>-5,9</y>
            <z>-25</z>
          </position>
          <rotation>
            <x>0</x>
            <y>-90</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>0,25</x>
            <y>0,25</y>
            <z>2</z>
          </scale>
        </component>
        <component>
          <type>AnimatedMeshRenderer</type>
          <active>True</active>
          <model>Microsoft.Xna.Framework.Graphics.Model</model>
          <animations>RTS.Animation.Animations</animations>
        </component>
      </components>
      <childObjects></childObjects>
    </object>
  </childObjects>
</rootObject>