<?xml version="1.0" encoding="utf-8"?>
<rootObject>
  <name>BackGround</name>
  <active>True</active>
  <components>
    <component>
      <type>Transform</type>
      <active>True</active>
      <position>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </position>
      <rotation>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </rotation>
      <scale>
        <x>7,25</x>
        <y>4,05</y>
        <z>1</z>
      </scale>
    </component>
    <component>
      <type>SpiteRenderer</type>
      <active>True</active>
      <sprite>blank</sprite>
      <color>
        <r>25</r>
        <g>62</g>
        <b>119</b>
        <a>255</a>
      </color>
    </component>
  </components>
  <childObjects>
    <object>
      <name>Exit Button</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>510</x>
            <y>551,2</y>
            <z>0</z>
          </position>
          <rotation>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>1</x>
            <y>0,5</y>
            <z>1</z>
          </scale>
        </component>
        <component>
          <type>SpiteRenderer</type>
          <active>True</active>
          <sprite>blank</sprite>
          <color>
            <r>73</r>
            <g>110</g>
            <b>133</b>
            <a>255</a>
          </color>
        </component>
        <component>
          <type>Button</type>
          <active>True</active>
          <action>EXIT</action>
        </component>
      </components>
      <childObjects>
        <object>
          <name>NewObject</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>602,7</x>
                <y>587,3</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1</x>
                <y>1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>TextRenderer</type>
              <active>True</active>
              <contents>Exit</contents>
              <font>defaultFont</font>
              <color>
                <r>0</r>
                <g>0</g>
                <b>0</b>
                <a>255</a>
              </color>
            </component>
          </components>
          <childObjects></childObjects>
        </object>
      </childObjects>
    </object>
    <object>
      <name>Play button</name>
      <active>True</active>
      <components>
        <component>
          <type>Transform</type>
          <active>True</active>
          <position>
            <x>510</x>
            <y>300</y>
            <z>0</z>
          </position>
          <rotation>
            <x>0</x>
            <y>0</y>
            <z>0</z>
          </rotation>
          <scale>
            <x>1</x>
            <y>0,5</y>
            <z>1</z>
          </scale>
        </component>
        <component>
          <type>SpiteRenderer</type>
          <active>True</active>
          <sprite>blank</sprite>
          <color>
            <r>73</r>
            <g>110</g>
            <b>133</b>
            <a>255</a>
          </color>
        </component>
        <component>
          <type>Button</type>
          <active>True</active>
          <action>BASESCENE</action>
        </component>
      </components>
      <childObjects>
        <object>
          <name>NewObject</name>
          <active>True</active>
          <components>
            <component>
              <type>Transform</type>
              <active>True</active>
              <position>
                <x>606,9</x>
                <y>336,9</y>
                <z>0</z>
              </position>
              <rotation>
                <x>0</x>
                <y>0</y>
                <z>0</z>
              </rotation>
              <scale>
                <x>1</x>
                <y>1</y>
                <z>1</z>
              </scale>
            </component>
            <component>
              <type>TextRenderer</type>
              <active>True</active>
              <contents>Play</contents>
              <font>defaultFont</font>
              <color>
                <r>0</r>
                <g>0</g>
                <b>0</b>
                <a>255</a>
              </color>
            </component>
          </components>
          <childObjects></childObjects>
        </object>
      </childObjects>
    </object>
  </childObjects>
</rootObject>